<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width , user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="09ScreeninvaderApp" class="content">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here-->
      <a id="top"></a>
    <header ng-controller="YoutubesearchCtrl">
        <nav>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default collapsed-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <img src="../images/logo.png" height="17" width="22" alt="">
                            </button>
                        </div>

                        <input type="search" keyboard-poster post-function="searchYoutube" ng-model="query" class="form-control" id="youtubeSearch" placeholder="Youtube Search">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default " id="postUrlQuerySubmit" ng-click="searchYoutube(query)">GO</button>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse" id="bs-example-navbar-collapse-1">
                <div id="playerController" ui-view="playerController"></div>
                <div id="controller" ui-view="viewController"></div>
                <a ui-sref="app" title="Playlist">
                    <span>Playlist |</span>
                </a>
                <a ui-sref="app.search" title="Youtube Search">
                    <span>Search |</span>
                </a>
                <a ui-sref="app.history" title="Post a link">
                    <span>History |</span>
                </a>
                <a ui-sref="app.posturl" title="Post a link">
                    <span>Url | </span>
                </a>
              <a ng-href="http://10.20.30.90/"> <i class="fa fa-gamepad"></i> Slackomatic</a>
              <a ng-href="https://github.com/zerocity/screeninvader-theme/issues"><i class="fa fa-bug"></i> Bugs</a>
              <a href="history"><i class="fa fa-history"></i> Top Hits</a>
               <a href="javascript:(function(){ window.open('http://{{serverIp}}/cgi-bin/show?' + location.href); })();"><i class="fa fa-bookmark"></i> Lounge it</a>
            </div>
        </nav>

        <div ng-hide="YoutubeResults | isEmpty" class="box">
            <a href="#">
                <span ng-click="clearSearch()">clear Search</span>
            </a>
            <div class="search">
                <div class="result" ng-repeat="item in YoutubeResults">
                    <img ng-src="{{item.thumbnail}}" alt="" />
                    <a ui-sref="app.action({ type: 'add',id:item.source })" class="name title" title="add item to playlist">
                        <i class="glyphicon glyphicon-plus playIcon"></i> {{item.title}}
                    </a>
                    <span class="description">{{item.description}} &nbsp;</span>
                    <span class="actors">Author
                        <span>{{item.author}}</span>,
                        <span>Duration: {{item.duration }} sec</span>,
                        <a href="{{item.source}}">go to source</a>, &nbsp;
                        <a ng-click="getUrl($index +'_url')">url</a>
                    </span>

                    <input id="{{$index + '_url'}}" class="hide form-control" type="text" value="{{item.source}}">
                </div>
            </div>
        </div>

    </header>



    <header ui-view="topBar"></header>

    <div id="notify" ui-view="notify"></div>

    <div id="main" ui-view="content"></div>
    <footer ui-view="footer"></footer>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-upload/angular-upload.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/janoshdriver.js"></script>
    <script src="scripts/controllers/youtubesearch.js"></script>
    <script src="scripts/controllers/notify.js"></script>
    <script src="scripts/controllers/videocontroller.js"></script>
    <script src="scripts/directives/youtubethumbnail.js"></script>
    <script src="scripts/controllers/playercontroller.js"></script>
    <script src="scripts/directives/back-button.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/services/youtubeapi.js"></script>
    <script src="scripts/directives/keyboardposter.js"></script>
    <script src="scripts/controllers/history.js"></script>
    <!-- endbuild -->
</body>

</html>
