<div class="box" style="min-height: 150px;">
  <div cg-busy="{promise:historyPro, message:'loading', backdrop:false, templateUrl:'/theme/views/loading.html'}"></div>
  <span>BUG : The first click on Date dont 't work .... ' </span>
  <table>
    <tr>
      <th style="padding-right: 15px;"><a href="" ng-click="reverse=!reverse;order('date',reverse)">Date </a></th>
      <th><a href="" ng-click="reverse=!reverse;order('title',reverse)">Invade</a></th>
      <th><a href="" ng-click="reverse=!reverse;order('title',reverse)">Title</a></th>
    </tr>
    <tr ng-repeat="item in history">
      <td style="padding-right: 15px;" > {{item.date | amDateFormat:'DD.MM.YYYY' }}</td>
      <td style="padding-right: 15px;" >  <a href="" ng-click="postUrl(item.urls)" alt="post to playlist" title="post to playlist"> Queue</a> </td>
      <td style="padding-right: 15px;" >  <a href="{{item.urls}}" alt="go to link" title="go to link">{{item.title}}</a></td>
    </tr>
  </table>
</div>
