<div class="box">

<!--   <li ng-repeat="item in history" class="list-unstyled">
  <a href="{{item.urls}}"><span class="pushRightSide">url</span></a>
    {{item.date | amDateFormat:'DD.MM.YYYY' }} {{item.title}}
  </li> -->
<!--
<pre>{{history | json }}</pre>
 -->

  <div cg-busy="{promise:historyPro, message:'loading', backdrop:false, templateUrl:'/views/loading.html'}"></div>

  <table class="">
    <tr>
      <th>ID</th>
      <th style="width: 115px;"><a href="" ng-click="reverse=!reverse;order('date',reverse)">Date </a></th>
      <th><a href="" ng-click="reverse=false;order('title', false)">Title</a> (<a href="" ng-click="order('-title',false)">^</a>)</th>
    </tr>
    <tr ng-repeat="(key,item) in history | orderBy:predicate:reverse ">
      <td>{{ key }} </td>
      <td>{{item.date | amDateFormat:'DD.MM.YYYY' }} </td>
      <td><a href="{{item.urls}}">{{item.title}}</a></td>
    </tr>
  </table>
  <div id="buttom"></div>

</div>
