<div class="box" ng-style="style(80+toggleMenuSize)" resize>
  <div ng-show="!model.playlist.items.length">No Items :( </div>
  <div class="row" ng-repeat="item in model.playlist.items.slice().reverse()" ngCloak>
      <div class="col-xs-10 col-md-10">
        <a ui-sref="app.action({ type: 'play',id: item.id })" ng-class="{activeItem: item.id == model.playlist.index}" class="title" title="play" >
           <i class="glyphicon glyphicon-play playIcon " ></i> {{item.id + 1}} - {{item.title}}
        </a>
      </div>
      <div class="itemControll">
          <a ui-sref="app.action({ type: 'del',id:item.id })"><span class="glyphicon glyphicon-trash"></span> </a>
          <a href="#" ng-click="getUrl(item.id +'_url')">url</a>
      </div>
      <div class="col-xs-10 col-md-10">
        <input id="{{item.id + '_url'}}" class="hide form-control" type="text" value="{{item.source}}"></input>
      </div>
  </div>
</div>
