<div class="box" ng-style="style(95+toggleMenuSize)" resize autoscroll-down>
  <div ng-show="!model.playlist.items.length">
    <h1>Connecting to Screeninvader ...</h1>
  </div>
  <div class="row readability" ng-repeat="item in model.playlist.items" ngCloak>
      <div class="col-xs-10 col-sm-11 col-md-11">
        <a ui-sref="app.action({ type: 'play',id: item.id })" ng-class="{activeItem: item.id == model.playlist.index}" class="title" title="play" >
           <i class="glyphicon glyphicon-play playIcon " ></i> {{item.id + 1}} - {{item.title}}
        </a>
      </div>
      <div >
          <a ui-sref="app.action({ type: 'del',id:item.id })"><span class="glyphicon glyphicon-trash"></span> </a>
          <a href="#" ng-click="getUrl(item.id +'_url')">url</a>
      </div>
      <div class="col-xs-12 col-md-12">
        <input id="{{item.id + '_url'}}" class="hide form-control" type="text" value="{{item.source}}"></input>
      </div>
  </div>
<!-- <div id="lastItem" ng-repeat-end>end</div> -->
</div>
