<div class="box">
  <div class="row">
      <div class=" col-xs-12 col-sm-6 col-md-4 pull-left">
          <a ui-sref="app.playerControll({type: 'step-backward'})">
             <i class="glyphicon glyphicon-step-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'fast-backward'})">
             <i class="glyphicon glyphicon-fast-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'backward'})">
             <i class="glyphicon glyphicon-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'stop'})">
             <i class="glyphicon glyphicon-stop"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'pause'})">
             <i class="glyphicon glyphicon-pause"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'forward'})">
             <i class="glyphicon glyphicon-forward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'fast-forward'})">
             <i class="glyphicon glyphicon-fast-forward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'step-forward'})">
             <i class="glyphicon glyphicon-step-forward"></i>
          </a>
            <i ng-hide="playerSetting" class="glyphicon glyphicon-minus"></i>
            <span ng-hide="playerSetting">100 %</span>
            <i ng-hide="playerSetting" class="glyphicon glyphicon-plus"></i>
            <i ng-hide="playerSetting" class="glyphicon glyphicon-volume-off setYellow"></i>
          <a ng-click="toggleSetting();">
             <i class="pull-right glyphicon glyphicon-cog" ></i>
          </a>

      </div>
    </div>
</div>
