<div class="box-NoScroll">
    <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-12 pull-left player-controller">
            <a ui-sref="app.playerControll({type: 'step-backward'})">
                <i class="fa fa-step-backward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'fast-backward'})">
                <i class="fa fa-fast-backward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'backward'})">
                <i class="fa fa-backward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'stop'})">
                <i class="fa fa-stop"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'pause'})">
                <i class="fa fa-pause"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'forward'})">
                <i class="fa fa-forward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'fast-forward'})">
                <i class="fa fa-fast-forward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'step-forward'})">
                <i class="fa fa-step-forward"></i>
            </a>
            <a ui-sref="app.playerControll({type: 'playlist-clear'})" title="Clear Playlist">
                <i class="fa fa-trash-o"></i>
            </a>
            <a id="jsonexport" ui-sref="app.playerControll({type: 'playlist-save'})" title="save Playlist">
                <i class="fa fa-save"></i>
            </a>
            <a ui-sref="app.posturl()" title="Post a link or upload images/movies/etc">
                  <i class="fa fa-globe"> </i>
            </a>

            <div class="pushRightSide">
                <div>vol: <a href="#" editable-range="model.sound.volume" e-step="5" onbeforesave="updateSound($data)">
              {{ model.sound.volume || 'empty' }}</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="pushRightSide">
            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'volumedown'})">
                <i class="glyphicon glyphicon-minus"></i>
            </a>
            <span ng-hide="playerSetting">{{model.sound.volume}} %</span>
            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'volumeup'})">
                <i class="glyphicon glyphicon-plus"></i>
            </a>

            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'mute'})">
                <i ng-hide="playerSetting" class="glyphicon glyphicon-volume-off" ng-class="{setYellow: model.sound.mute == 'true' }"></i>
            </a>
        </div>
    </div>
</div>
