<div class="box" ng-style="style(80+toggleMenuSize)" resize>
    <dl class="viewBig">
        <dt  ng-repeat-start="item in model.playlist.items.slice().reverse()" ngCloak>
            <youtube-Thumbnail url="item.source" size='64' />
        </dt>
        <dd>
            <a ui-sref="app.action({ type: 'play',id:item.id })" ng-class="{activeItem: item.id==model.playlist.index}" class="title" title="play">
                <i class="glyphicon glyphicon-play playIcon"></i> {{item.id + 1}} - {{item.title}}
            </a>
        </dd>

        <dt class="pushRightSide">
            <a ui-sref="app.action({ type: 'del',id:item.id })">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </dt>

        <dd class="pushRightSide">
            <a ng-click="getUrl(item.id +'_url')">url</a>
        </dd>
        <input id="{{item.id + '_url'}}" class="hide form-control" type="text" value="{{item.source}}" >
        <hr ng-repeat-end>
    </dl>
    <div id="buttom"></div>
</div>
