<div class="box">
  <div class="input-group">
    <input type="search" keyboard-poster post-function="searchYoutube" ng-model="query" class="form-control" id="youtubeSearch" placeholder="Youtube Search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="postUrlQuerySubmit" ng-click="searchYoutube(query)">Search</button>
    </span>
  </div>

  <div class="search">
    <div class="result" ng-repeat="item in YoutubeResults">
      <img ng-src="{{item.thumbnail}}" alt="" />
        <a ui-sref="app.action({ type: 'add',id:item.source })" class="name title" title="add item to playlist">
          <i class="glyphicon glyphicon-plus playIcon"></i> {{item.title}}
        </a>
      <span class="description">{{item.description}} &nbsp;</span>
      <span class="actors">Author
        <span>{{item.author}}</span>,
        <span>Duration: {{item.duration }} sec</span>,
        <a href="{{item.source}}">go to source</a>, &nbsp;
        <a ng-click="getUrl($index +'_url')">url</a>
      </span>

      <input id="{{$index + '_url'}}" class="hide form-control" type="text" value="{{item.source}}" >
    </div>
  </div>
</div>
